body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #8f8f8f;
}
.container-main{
    padding: 3%;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    background-color: #fff;
}
.font-center{
    text-align: center;
}
.container-bangundatar{
    outline-style: solid;
    padding: 3%;
    margin-top: 5%;
}
.button-main{
    display: flex;
    flex-direction: column;
}
.button-custom{
    border-radius: 5px;
    color: black;
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    outline: none;
}
.active{
    background-color: blue;
    color: white;
}
.text-luas{
    margin-top: 2%;
    color: white;
    background-color: blue;
    padding: 3%;
}
img{
    width: 40%;
}
.display-flex{
    display: flex;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
input[type=submit]{
    padding: 2% 0 2% 0;
    margin-top: 3%;
    width: 100%;
    background-color: #e99f00;
    color: black;
    cursor: pointer;
}